<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>method</key>
		<string>showUpdate</string>
		<key>description</key>
		<string>app更新提示</string>
	</dict>
	<dict>
		<key>method</key>
		<string>showQRCode</string>
		<key>description</key>
		<string>生成二维码</string>
	</dict>
	<dict>
		<key>method</key>
		<string>showAlertView</string>
		<key>description</key>
		<string>警告框中Message文本的对齐样式</string>
	</dict>
	<dict>
		<key>method</key>
		<string>showGotoComment</string>
		<key>description</key>
		<string>引导用户评价(定时提醒)</string>
	</dict>
	<dict>
		<key>method</key>
		<string>showChangePageView</string>
		<key>description</key>
		<string>换页按钮</string>
	</dict>
	<dict>
		<key>method</key>
		<string>showCustomAlertView</string>
		<key>description</key>
		<string>自定义AlertView</string>
	</dict>
	<dict>
		<key>method</key>
		<string>showCirclePercent</string>
		<key>description</key>
		<string>圆形百分比</string>
	</dict>
</array>
</plist>
